@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap");
/* ----------------------------------VARIAVEIS---------------------------------- */
/* ----------------------------------STYLE---------------------------------- */
* {
  margin: 0;
  padding: 0;
}

body {
  background: #02030F;
  font-family: "Poppins", sans-serif;
  color: #f8f8f8;
  display: flex;
  align-items: stretch;
  height: 100vh;
  width: auto;
}

aside {
  display: flex;
  align-items: center;
}
aside img {
  width: auto;
  height: 85vh;
  margin-left: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
}
main .title {
  font-size: 3.5rem;
  font-weight: 100;
  text-align: center;
}
main .title span {
  font-weight: 300;
}
main .cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #43AFEC;
  border-radius: 20px;
  width: 20rem;
  height: 25rem;
}
main .cadastro .sub-title {
  text-align: center;
  width: 18rem;
  height: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 1.2rem;
}
main .cadastro input {
  width: 15rem;
  height: 3rem;
  border: 0;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
main .cadastro #name, main .cadastro #email {
  text-align: center;
}
main .cadastro label {
  font-size: 0.9rem;
}
main .go-to-website {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 300;
  width: 10rem;
  height: auto;
}
main .go-to-website:hover {
  filter: brightness(0.8);
}

.disclaimer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 0.5rem;
  background: black;
  font-size: 0.6rem;
  font-weight: 100;
  text-align: center;
}

@media screen and (max-width: 1366px) {
  body {
    height: 100vh;
  }

  main .title {
    font-size: 2.3rem;
    text-align: center;
    width: 30rem;
  }
  main .cadastro {
    width: 16rem;
    height: 20rem;
  }
  main .cadastro .sub-title {
    text-align: center;
    width: 13rem;
    height: auto;
    font-size: 0.9rem;
  }
  main .cadastro input {
    width: 12rem;
    height: 3rem;
  }
  main .cadastro button {
    width: 12rem;
    font-size: 0.8rem;
  }
  main .cadastro label {
    font-size: 0.8rem;
  }
  main .go-to-website {
    width: 7rem;
    height: auto;
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  aside {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  aside .img {
    width: auto;
    height: 100%;
    margin: 0;
  }

  main {
    display: flex;
    align-items: center;
  }
  main .title {
    margin-top: 1rem;
    font-size: 1.8rem;
    width: auto;
  }
  main .cadastro {
    margin-top: 2.5rem;
  }
  main .go-to-website {
    margin: 0;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }
}
button {
  width: 240px;
  height: 48px;
  border: 0;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: #43AFEC;
  color: #f8f8f8;
  font-size: 0.9rem;
}
button:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

/*# sourceMappingURL=style.css.map */
